/* CSS declarations go here */
/* CSS declarations go here */
@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	color:#000;
	word-wrap: normal;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
nav .brand-logo {
	color:#000;
}
nav ul a{
	color:#000;
}
.row .col.s12{
	color:#fff;
}
.light{
	color:#000;
}
.center{
	color:#000;	
}
h4,h5,h6{
	color:#000;
}
.panelForm{
  background:#fff;
  color: #000;
  position: fixed;
  top: 60px;
  left: 50vw;
  width: 40vw;
  height: auto;
  transition: all .5s;
  z-index:100;
  padding:10px;
  opacity:0;
  box-shadow:0px 3px 2px #333
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.validate {
  color: black;
}
.form-control {
  color: black;
}

	
.place::placeholder { 
  color: white; 
}
.rectangle_hidden,.rectangle_hidden_client{
	height: 400px;
	width: 800px;
	overflow:scroll;
	overflow-x:hidden;
}
.rectangle_hidden_client{
	width:100%;
}